<div class="row-fluid">
  <div class="span4 well">
    <%= image_tag "/assets/mfm_logo.png" %>
    <br/><br/>
    <h4>Resend confirmation instructions</h4>
    <br/>

    <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>
        <%= f.input :email %>
        <%= f.button :submit, "Resend confirmation instructions", class: 'btn btn-primary' %>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>