<div data-role="content" data-inset="false">
  <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.email_field :email, :placeholder => 'Email' %>
      <%= f.submit "Resend confirmation instructions" %>
  <% end %>

  <%= render "users/shared/links" %>
</div><!-- /content -->