<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @menu.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @menu.desc %>
</p>

<p>
  <b>Store:</b>
  <%= @menu.store.name %>
</p>


<%= link_to 'Edit', edit_store_menu_path(@store, @menu) %> |
<%= link_to 'Back', store_menus_path(@store) %>