<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @hour.name %>
</p>

<p>
  <b>Open at:</b>
  <%= @hour.open_at %>
</p>

<p>
  <b>Close at:</b>
  <%= @hour.close_at %>
</p>

<p>
  <b>Store:</b>
  <%= @hour.store.name %>
</p>


<%= link_to 'Edit', edit_store_hour_path(@store, @hour) %> |
<%= link_to 'Back', store_hours_path(@store) %>