<div data-role="content" data-inset="false">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.email_field :email, :placeholder => 'Email' %>
      <div class="ui-grid-a">
        <div class="ui-block-a">
          <%= f.text_field :firstname, :placeholder => 'Firstname' %>
        </div>
        <div class="ui-block-b">
          <%= f.text_field :lastname, :placeholder => 'Lastname' %>
        </div>
      </div>
      <%= f.text_field :phone, :placeholder => 'Phone' %>
      <%= f.fields_for :address do |addr| %>
          <%= addr.text_field :address1, :placeholder => 'Address' %>
          <%= addr.text_field :address2, :placeholder => 'Apt / Building / Suite' %>
      <% end %>

      <br/>
      <i>Leave blank if you don't want to change password.</i>
      <br />
      <div class="ui-grid-a">
        <div class="ui-block-a">
          <%= f.password_field :password, :autocomplete => "off", :placeholder => 'Password' %>
        </div>
        <div class="ui-block-b">
          <%= f.password_field :password_confirmation, :placeholder => 'Confirmation' %>
        </div>
      </div>
      <%= f.password_field :current_password, :placeholder => 'Current Password' %>

      <%= f.submit "Update" %>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

  <%= link_to "Back", :back %>
</div><!-- /content -->
