<%= simple_nested_form_for(@store, :html => { :class => 'form-horizontal' }, :validate => true ) do |f| %>
    <%= f.error_notification %>

    <hr/>

    <h4>Basic info:</h4>
    <%= f.input :name %>
    <%= f.input :desc %>
    <%= f.input :phone %>
    <%= f.input :fax %>
    <%= f.input :delivery_minimum %>
    <%= f.input :delivery_fee %>
    <%= f.input :delivery_radius %>
    <%= f.association :tags, :as => :check_boxes, :item_wrapper_class => 'inline' %>
    <%= f.association :payments, :as => :check_boxes, :item_wrapper_class => 'inline' %>
    <%= image_tag @store.avatar_url.to_s if @store.avatar? %>
    <%= f.input :avatar %>

    <hr/>

    <h4>Address:</h4>
    <%= f.fields_for :address do |builder| %>
        <%= builder.input :address1 %>
        <%= builder.input :address2 %>
        <%= builder.input :city %>
        <%= builder.input :state %>
        <%= builder.input :country, :as => :string %>
        <%= builder.input :zip %>
    <% end %>

    <hr/>

    <h4>Open Hours:</h4>
    <%= f.link_to_add "Add", :hours, class: 'btn btn-primary' %>
    <%= f.fields_for :hours do |hour| %>
        <%= hour.input :name %>
        <%= hour.input :desc %>
        <%= hour.input :open_at %>
        <%= hour.input :close_at %>
        <%= hour.link_to_remove "Remove", class: 'btn btn-info' %>
    <% end %>

    <hr/>

    <%= f.button :submit, disable_with: "Saving...", class: 'btn btn-primary' %>
<% end %>
