<div class="well">
  <h1>Listing stores</h1>

  <table class='table table-hover table-bordered'>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Avatar</th>
      <th>Phone/Fax</th>
      <th>Delivery minimum</th>
      <th>Delivery fee</th>
      <th>Delivery radius</th>
      <th colspan="8">Action</th>
    </tr>

    <% @stores.each do |store| %>
        <tr>
          <td><%= store.rank %></td>
          <td><%= store.name %></td>
          <td><%= image_tag store.avatar_url(:small).to_s if store.avatar? %></td>
          <td><%= store.phone %><br/><%= store.fax %></td>
          <td><%= store.delivery_minimum %></td>
          <td><%= store.delivery_fee %></td>
          <td><%= store.delivery_radius %></td>
          <td><%= link_to 'Menus', store_menus_path(store) %></td>
          <td><%= link_to 'Featu', store_dish_features_path(store) %></td>
          <td><%= link_to 'Choic', store_dish_choices_path(store) %></td>
          <td><%= link_to 'Disco', store_dish_discounts_path(store) %></td>
          <td><%= link_to 'Hours', store_hours_path(store) %></td>
          <td><%= link_to 'Coupons', store_coupons_path(store) %></td>
          <!--<td><%= link_to 'Plans', store_plans_path(store) %></td>-->
          <td><%= link_to 'Edit', edit_store_path(store) %></td>
          <td><%= link_to 'X', store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </table>

  <br />

  <%= link_to 'New Store', new_store_path %>
</div>

