<div class="well">
  <%= link_to "Manage Payments", payments_path, class: "btn btn-info" %>
  <%= link_to "Manage Services", services_path, class: "btn btn-info" %>
  <%= link_to "Manage Tags", tags_path, class: "btn btn-info" %>
  <%= link_to "Manage Ads", advertisements_path, class: "btn btn-info" %>
  <%= link_to "Manage Posts", posts_path, class: "btn btn-info" %>
  <%= link_to "Manage Users", admin_users_path, class: "btn btn-info" %>
  <%= link_to "Manage Tickets", tickets_path, class: "btn btn-info" %>
  <%= link_to "Manage Orders", admin_orders_path, class: "btn btn-info" %>

  <%= link_to 'New Store', new_store_path, class: "btn btn-primary pull-right" %>

  <br/><br/>

  <h1>Manage Stores</h1>

  <table class='table table-hover table-bordered'>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Avatar</th>
      <th>Phone/Fax</th>
      <th>Delivery min|fee|radius</th>
      <th>Cash Back Rate</th>
      <th colspan="7">Action</th>
    </tr>

    <% @stores.each do |store| %>
        <tr>
          <td><%= store.rank %></td>
          <td><%= store.name %></td>
          <td><%= image_tag store.avatar_url(:small).to_s if store.avatar? %></td>
          <td><%= store.phone %><br/><%= store.fax %></td>
          <td>
            <%= number_to_currency store.delivery_minimum %> |
            <%= number_to_currency store.delivery_fee %> |
            <%= store.delivery_radius %> miles
          </td>
          <td><%= store.cash_back_rate %></td>
          <td><%= link_to 'Menus', store_menus_path(store) %></td>
          <td><%= link_to 'Featu', store_dish_features_path(store) %></td>
          <td><%= link_to 'Choic', store_dish_choices_path(store) %></td>
          <td><%= link_to 'Disco', store_dish_discounts_path(store) %></td>
          <td><%= link_to 'Coupons', store_coupons_path(store) %></td>
          <!--<td><%= link_to 'Plans', store_plans_path(store) %></td>-->
          <td><%= link_to 'Edit', edit_store_path(store) %></td>
          <td><%= link_to 'X', store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </table>
</div>

