<p>
  <b>Name:</b>
  <%= @store.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @store.desc %>
</p>

<p>
  <b>Image:</b>
  <br/>
  <%= image_tag @store.image_url(:small).to_s if @store.image? %>
</p>

<p>
  <b>Phone:</b>
  <%= @store.phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @store.fax %>
</p>

<p>
  <b>Delivery minimum:</b>
  <%= @store.delivery_minimum %>
</p>

<p>
  <b>Delivery fee:</b>
  <%= @store.delivery_fee %>
</p>

<p>
  <b>Delivery radius:</b>
  <%= @store.delivery_radius %>
</p>


<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
