<div class="well">
  <div class="pull-right">
    <input type="text" id='datepicker' value="<%= @date.strftime "%F" %>" style="width:90px;margin-top:8px;" />
    <%= link_to "Update", {}, :class => "btn btn-primary", :id => "dateupdater" %>
  </div>
  <h2>Tickets and Orders Summary</h2>
  <br/>

  <h4>Tickets:</h4>
  <table class="table table-hover table-bordered">
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th>Email</th>
      <th>Content</th>
      <th>Action</th>
    </tr>
    <% @tickets.each do |t| %>
        <tr<% unless t.handled %> style="background-color: #ff0000;"<% end %> id="ticket_<%= t.id %>">
          <td><%= t.id %></td>
          <td>Handled</td>
          <td><%= t.email %></td>
          <td><%= t.content %></td>
          <td>
            <%= link_to "Handle", admin_handle_ticket_path(t, handled: true), remote: true, disable_with: "......", class: "btn btn-primary" %>
            <%= link_to "Undo", admin_handle_ticket_path(t, handled: false), remote: true, disable_with: "......", class: "btn btn-primary" %>
          </td>
        </tr>
    <% end %>
  </table>

  <h4>Grocery Orders:</h4>
  <table class='table table-hover table-bordered'>
    <tr>
      <th>ID</th>
      <th>Store</th>
      <th>User</th>
      <th>Payment</th>
      <th>Fee</th>
      <th>Tip</th>
      <th>Order Time</th>
      <th>Note</th>
      <th>Action</th>
    </tr>
    <% @g_orders.each do |order| %>
        <tr<% unless order.handled %> style="background-color: #ff0000;"<% end %> id="order_<%= order.id %>">
          <td><%= order.id %></td>
          <td><%= order.cart.delivery_type %>@<%= order.store.name %></td>
          <td><%= order.user.phone %> / <%= order.user.firstname %> <%= order.user.lastname %></td>
          <td><%= order.payment_type %>(<%= order.payment_status %>)</td>
          <td><%= order.cart.delivery_fee %></td>
          <td><%= order.tip %></td>
          <td><%= order.created_at.strftime("%m/%d/%Y %H:%M%p") %></td>
          <td><%= order.note %></td>
          <td>
            <%= link_to "Details", admin_order_modal_path(order), remote: true, disable_with: "......", class: "btn btn-info" %>
            <%= link_to "Handle", admin_handle_order_path(order, handled: true), remote: true, disable_with: "......", class: "btn btn-primary" %>
            <%= link_to "Undo", admin_handle_order_path(order, handled: false), remote: true, disable_with: "......", class: "btn btn-primary" %>
          </td>
        </tr>
    <% end %>
  </table>

  <h4>Restaurant Orders:</h4>
  <table class='table table-hover table-bordered'>
    <tr>
      <th>ID</th>
      <th>Store</th>
      <th>User</th>
      <th>Payment</th>
      <th>Fee</th>
      <th>Tip</th>
      <th>Order Time</th>
      <th>Note</th>
      <th>Action</th>
    </tr>
    <% @r_orders.each do |order| %>
        <tr<% unless order.handled %> style="background-color: #ff0000;"<% end %> id="order_<%= order.id %>">
          <td><%= order.id %></td>
          <td><%= order.cart.delivery_type %>@<%= order.store.name %></td>
          <td><%= order.user.phone %> / <%= order.user.firstname %> <%= order.user.lastname %></td>
          <td><%= order.payment_type %>(<%= order.payment_status %>)</td>
          <td><%= order.cart.delivery_fee %></td>
          <td><%= order.tip %></td>
          <td><%= order.created_at.strftime("%m/%d/%Y %H:%M%p") %></td>
          <td><%= order.note %></td>
          <td>
            <%= link_to 'Details', admin_order_modal_path(order), remote: true, disable_with: "......", class: "btn btn-info" %>
            <%= link_to ' Handle ', admin_handle_order_path(order, handled: true), remote: true, disable_with: "......", class: "btn btn-primary" %>
            <%= link_to 'Undo', admin_handle_order_path(order, handled: false), remote: true, disable_with: "......", class: "btn btn-primary" %>
          </td>
        </tr>
    <% end %>
  </table>

  <br/>
  <%= link_to 'Back to Stores', stores_path, class: "btn btn-info" %>
</div>