<div class="well">
  <h2>Listing Users</h2>
  <table class="table table-bordered">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Orders</th>
      <th>Confirmed?</th>
      <th>Cash Back</th>
      <th>Actions</th>
    </tr>
    <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.firstname + " " + user.lastname %></td>
          <td><%= user.email %></td>
          <td><%= user.address.address1 + ", " + user.address.address2 if user.address %></td>
          <td>
            <%= user.orders.size %>  (<%= link_to "Details", "javascript:;", class: "orders_toggler", style: "font-size: 12px;" %>)
            <div style="display: none;">
              <% user.orders.each do |order| %>
                  <%= order.id %> |
                  <%= order.payment_type %> |
                  <%= order.payment_status %> |
                  <br/>
              <% end %>
            </div>
          </td>
          <td><%= user.confirmed? %></td>
          <td>
            <span id="cash_back_<%= user.id %>"><%= user.cash_back %></span>
            (<%= link_to "Change", "javascript:;", class: "orders_toggler", style: "font-size: 12px;" %>)
            <div style="display: none;">
              <%= form_tag(admin_create_transaction_path, :method => "post", :remote => true) do %>
                  <h4>Add Amount</h4>
                  <%= text_field_tag "amount", 0, style: "width: 30px;margin-top: 10px;" %>
                  <%= hidden_field_tag "user_id", user.id %>
                  <%= submit_tag "Save", class: "btn btn-primary", :disable_with => "Saving..." %>
              <% end %>
            </div>
          </td>
          <td><%= link_to "Edit User", "#" %></td>
        </tr>
    <% end %>
  </table>

  <br/>
  <%= link_to 'Back to Stores', stores_path, class: "btn btn-info" %>
</div>