<div data-role="popup" data-theme="d" data-overlay-theme="b" class="ui-content modal" style="max-width:340px;">
  <h3>Confirm your order</h3>
  <%= form_tag(cart_items_path, method: 'post', remote: true, data: { ajax: false }) do %>
      <% @dish.dish_choices.each do |dc| %>
          <div class="dish_choice_wrap" must="<%= dc.must %>" type="<%= dc.input_type %>">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
              <legend><%= dc.name %>&#58; (<%= dc.desc %>)</legend>
              <% dc.content.split(',').each_with_index do |x, i| %>
                  <label for="dc_<%= i %>">
                    <%= x.split(':')[0] %>
                    <% if x.split(':')[1].to_f > 0 %>
                        +<%= number_to_currency x.split(':')[1] %>
                    <% end %>
                    &nbsp;&nbsp;&nbsp;
                    <input type="<%= dc.input_type %>" name="<%= dc.name %>" value="<%= x.split(':')[0] %>"
                           add="<%= x.split(':')[1] %>" <%= 'checked="checked" ' if dc.checked == i %> />
                  </label>
              <% end %>
            </fieldset>
            <br/>
          </div>
      <% end %>
      Quantity:
      <%= select_tag :quantity, options_for_select([1, 2, 3, 4, 5]) %>
      <br/>
      Special Instructions:
      <input type="text" name="note" add="0" />
      <br/>

      <%= hidden_field_tag :price_adjustment, 0 %>
      <%= hidden_field_tag :dish_id, @dish.id %>
      <%= hidden_field_tag :store_id, @dish.category.menu.store.id %>

      <button data-inline=true data-mini=true data-icon=delete data-rel=back >Cancel</button>
      <button data-inline=true data-mini=true data-icon=check data-theme='b' class='confirm_to_order'>Order</button>
  <% end %>
</div>