<div class="ui-body ui-body-e">
  <div class="ui-grid-a" id="restau_infos">
    <div class="ui-block-a">
      <p><%= image_tag @store.avatar_url.to_s, :width => '100%' %></p>
    </div>
    <div class="ui-block-b" style="padding-top: 10px;">
      <%= link_to 'Overview', home_store_overview_path, data: {role: 'button', mini: true}, rel: 'external', id: "store_overview" %>
      <% if @store.has_good_dishes? %>
          <%= link_to 'What\'s Good', home_store_good_path, data: {role: 'button', mini: true}, rel: 'external', id: "store_good" %>
      <% end %>
      <%= link_to 'Full Menu', home_store_menu_path, data: {role: 'button', mini: true}, rel: 'external', id: "store_menu" %>
      <% if @store.has_effective_coupons? %>
          <%= link_to 'Coupons!', home_store_promo_path, data: {role: 'button', mini: true}, rel: 'external', id: "store_promo" %>
      <% end %>
      <!--<%= link_to 'Store Info', home_store_info_path, data: {role: 'button', mini: true}, rel: 'external', id: "store_info" %>-->
      <!--<%= link_to 'Store Reviews', home_store_review_path, data: {role: 'button', mini: true}, rel: 'external', id: "store_review" %>-->
    </div>
  </div><!-- /grid-a -->

  <% if @store.cash_back_rate > 0 %>
      <div style="color: green;font-family: times;font-style: italic;font-weight: bold;font-size: 20px;text-align: center;">
        &nbsp;<%= @store.cash_back_rate * 100 %>% Reward
      </div>
  <% end %>

  <table width="100%">
    <tr>
      <td width="50%" style="font-size:12px;"><%= image_tag "/assets/icons_glyphish/gray/75-phone.png" %>&nbsp;&nbsp;<%= @store.phone %></td>
      <td width="50%" style="font-size:12px;"><%= image_tag "/assets/icons_glyphish/gray/53-house.png" %>&nbsp;&nbsp;<%= @store.address.address1 %></td>
    </tr>
    <tr>
      <td style="font-size:12px;"><%= image_tag "/assets/icons_glyphish/gray/feng-car.png", width: 30 %>Within <%= @store.delivery_radius %> miles.</td>
      <td style="font-size:12px;"><%= image_tag "/assets/icons_glyphish/gray/192-credit-card.png" %><% @store.payments.each do |p| %><%= image_tag p.avatar_url(:small).to_s if p.avatar? %><% end %></td>
    </tr>
    <tr>
      <td style="font-size:12px;"><%= image_tag "/assets/icons_glyphish/gray/15-tags.png" %>&nbsp;&nbsp;<% @store.tags.each do |t| %><%= t.name %>,&nbsp;<% end %></td>
      <td style="font-size:12px;"><%= image_tag "/assets/icons_glyphish/gray/11-clock.png" %><% @store.hours.each do |h| %><%= h.desc %>: <%= h.open_at %> - <%= h.close_at %><br/><% end %></td>
    </tr>
  </table>
</div>
