<div class="well">
  <div class="row-fluid">
    <div class="span3">
      <%= image_tag @store.avatar_url.to_s, :width => '100%' %>
    </div>
    <div class="span9">
      <h1><%= @store.name %></h1>
      <p><%= @store.address.address1 %></p>
      <p><%= @store.phone %> | <%= @store.fax %> | <%= link_to 'Back to Restaurant List', home_stores_path %></p>
      <br/>
      <div class="navbar">
        <div class="navbar-inner">
          <ul class="nav">
            <li id="store_good"><%= link_to 'What\'s Good', home_store_good_path %></li>
            <li id="store_menu"><%= link_to 'Full Menu', home_store_menu_path %></li>
            <li id="store_info"><%= link_to 'Store Info', home_store_info_path %></li>
            <li id="store_reviews"><%= link_to 'Store Reviews', home_store_reviews_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>