<div class="row">
  <div class="span7" id="main">
    <div class="well">
      <table class="table table-hover" style="margin-bottom: 0px;">
        <% @stores.each do |store| %>
            <tr>
              <td width="30%">
                <%= link_to(image_tag(store.avatar_url.to_s, alt: 'Meals4.Me', style: "width:100px;height:100px;"), home_store_good_path(store)) %>
              </td>
              <td width="50%">
                <div>
                  <h4><%= store.name %>
                    <% if store.cash_back_rate > 0 %>
                        <span style="color: green;font-weight: bold;font-family: times;font-style: italic;">
                          &nbsp;<%= store.cash_back_rate * 100 %>% Reward
                        </span>
                    <% end %>
                  </h4>
                  <p><b>Tags:</b> <% store.tags.each do |t| %><%= t.name %>,&nbsp;<% end %></p>
                  <p><%= store.phone %> | <%= store.address.address1 %></p>
                </div>
              </td>
              <td width="20%">
                <br/>
                <%= link_to 'View Menu', home_store_good_path(store), :class => 'btn btn-primary' %>
              </td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="span5">
    <div class="well" id="side_map">
      <%= gmaps(
                  :map_options => { :auto_adjust => true },
                  :markers => { :data => @json, :options => { :list_container => "markers_list" }}
          )
      %>
      <ul id="markers_list" style="display: none;"></ul>
    </div>
  </div>
</div><!--/row-->

<!-- Click Button To Load Information With The Store -->
<div class="well" id="load_box_wrap">
  <a class="close" href="javascript:;">x&nbsp;</a>
  <div class="well" id="load_box"></div>
</div>