<div class="well">
  <div class="row-fluid">
    <div class="span6">
      <h1>This is Grocery Delivery!</h1>
    </div>
    <div class="span6">
      <h1>Serve TAMU!</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="span8" id="main">
    <div class="well">
      <div class="row-fluid">
        <ul class="thumbnails">
          <% @store.menus.each do |menu| %>
              <% menu.categories.each do |category| %>
                  <% category.dishes.each do |dish| %>
                      <li class="span4">
                        <div class="thumbnail" style="background-color: #ffffff;">
                          <%= image_tag dish.image_url.to_s  %>
                          <div class="caption">
                            <b><%= dish.name %></b>
                            <%= button_to number_to_currency(dish.price), home_dish_modal_path(dish),
                                          :remote => true, :class => 'pre_order btn btn-warning pull-right' %>
                            <i><%= sanitize(dish.desc) %></i>
                          </div>
                        </div>
                      </li>
                  <% end %>
              <% end %>
          <% end %>
        </ul>

        <ul class="nav nav-tabs first_child_active" style="margin-bottom: 0px;">
          <% @store.menus.each do |menu| %>
              <li>
                <a href="#menu_<%= menu.id %>">
                  <%= menu.name %>
                  <br/>
                  <%= menu.desc %>
                </a>
              </li>
          <% end %>
        </ul>

        <div class="tab-content first_child_active" style="background-color: #ffffff;border-left: 1px solid #dddddd;padding: 20px;">
          <% @store.menus.each do |menu| %>
              <div class="tab-pane" id="menu_<%= menu.id %>">
                <% menu.categories.each do |category| %>
                    <section id="<%= category.name %>">
                      <h4><%= category.name %> | <%= category.desc %></h4>
                      <ul class="thumbnails">
                        <% category.dishes.each do |dish| %>
                            <li class="span6">
                              <div class="thumbnail store_menu_dish_wrap" rel="popover" title="<%= dish.name %>" data-content="<%= sanitize(dish.desc) %>">
                                <%= link_to home_dish_modal_path(dish), :remote => true do %>
                                    <%= dish.name %> -
                                    <% dish.dish_features.each do |df| %>
                                        <%= df.name %>
                                    <% end %>
                                    <i class="pull-right"><%= number_to_currency(dish.price) %></i>
                                <% end %>
                              </div>
                            </li>
                        <% end %>
                      </ul>
                    </section>
                <% end %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="span4">
    <div class="well" id="side">
      <div id="cart"><%= render @cart %></div>
      <div id="modal_wrap"></div>
    </div>
  </div>
</div><!--/row-->
