<div data-role="content" data-inset="false">
  <div class="ui-body ui-body-e">
    <h3><%= @store.name %></h3>
    <h3>This is Grocery Delivery Page!</h3>
  </div>

  <ul data-role="listview" data-inset="true">
    <% @store.menus.each do |menu| %>
        <% menu.categories.each do |category| %>
            <% category.dishes.each do |dish| %>
                <li>
                  <%= link_to home_dish_modal_path(dish), :remote => true do %>
                      <%= image_tag dish.image_url(:small).to_s, :width => 100, :height => 100 %>
                      <h3><%= dish.name %> - <%= number_to_currency dish.price %></h3>
                      <p><%= dish.desc %></p>
                      <span class="ui-li-count">13</span>
                  <% end %>
                </li>
            <% end %>
        <% end %>
    <% end %>
  </ul>

  <div id="modal_wrap"></div>
</div><!-- /content -->
