<div class="row-fluid">
  <div class="span8 offset2 well">
    <%= image_tag "/assets/mfm_logo.gif" %>

    <h4>Starving, and a little lazy ... </h4>
    <h4>Tired of grocery shopping, delivery would be nice ... </h4>
    <h4> <span class="pull-right">Wanna find more delivery restaurants in town ... </span></h4>

    <br/>
    <hr/>

  </div>

  <ul class="thumbnails">
    <li class="span4 offset2">
      <div class="thumbnail index_img_wrap">
        <%= link_to home_stores_path, :style => 'text-align:center;background-color:#ffffff;display:block;' do %>
            <%= image_tag "/assets/food_delivery.jpg" %>
            <h3>Restaurant Delivery</h3>
        <% end %>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail index_img_wrap">
        <%= link_to home_grocery_path, :style => 'text-align:center;background-color:#ffffff;display:block;' do %>
            <%= image_tag "/assets/grocery_delivery.jpg" %>
            <h3 style="background: #32cd32;box-shadow: inset 0px 1px 2px #32cd32, 0px 1px 0px white;">Grocery Delivery</h3>
        <% end %>
      </div>
    </li>
  </ul>
</div>