<div class="row-fluid">
  <div class="span12 well">
    <div class="span5">
      <%= image_tag "/assets/mfm_logo.png" %>
      <h3 class="pull-right">Get your meals online! ^_^</h3>
    </div>
    <div class="span3 offset1">
      <%= link_to "https://chrome.google.com/webstore/detail/meals4me/miinanihaigjbhiekjadnmagbfcmcmdp", target: "_blank", style: "text-decoration: none;" do %>
          <%= image_tag("/assets/mfm_chrome.png", style: "width: 160px; height: 120px;") %>
          <br/>
          <span class="badge badge-important">Get Meals4.Me on Chrome!</span>
      <% end %>
    </div>
    <div class="span3">
        <b><%= Time.now.strftime("%Y-%m-%d, %A") %></b>
      <div id="weather"></div>
    </div>
  </div>

  <ul class="thumbnails">
    <li class="span4">
      <div class="thumbnail index_img_wrap">
        <%= link_to home_stores_path, :style => 'text-align:center;background-color:#ffffff;display:block;' do %>
            <%= image_tag "/assets/restaurant_hub.jpg" %>
            <h3>Restaurant Hub</h3>
        <% end %>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail index_img_wrap">
        <%= link_to home_delivery_path, :style => 'text-align:center;background-color:#ffffff;display:block;' do %>
            <%= image_tag "/assets/restaurant_delivery.jpg" %>
            <h3 style="background: #154ecd;box-shadow: inset 0px 1px 2px #154ecd, 0px 1px 0px white;">Restaurant Delivery</h3>
        <% end %>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail index_img_wrap">
        <%= link_to home_coupons_path, :style => 'text-align:center;background-color:#ffffff;display:block;' do %>
            <%= image_tag "/assets/restaurant_coupons.jpg" %>
            <h3 style="background: #32cd32;box-shadow: inset 0px 1px 2px #32cd32, 0px 1px 0px white;">Restaurant Coupons</h3>
        <% end %>
      </div>
    </li>
    <!--<li class="span4">-->
      <!--<div class="thumbnail index_img_wrap">-->
        <!--<%= link_to home_grocery_path, :style => 'text-align:center;background-color:#ffffff;display:block;' do %>-->
            <!--<%= image_tag "/assets/grocery_delivery.jpg" %>-->
            <!--<h3 style="background: #32cd32;box-shadow: inset 0px 1px 2px #32cd32, 0px 1px 0px white;">Grocery Delivery</h3>-->
        <!--<% end %>-->
      <!--</div>-->
    <!--</li>-->
  </ul>
</div>