<div class="row-fluid">
  <div class="span8">
    <div class="well" style="padding: 10px;">
      <% if @ads %>
          <div id="ads_gallery" class="carousel slide" style="margin-bottom: 0px;">
            <ol class="carousel-indicators first_child_active">
              <% @ads.size.times do |i| %>
                  <li data-target="#ads_gallery" data-slide-to="<%= i %>"></li>
              <% end %>
            </ol>
            <div class="carousel-inner first_child_active">
              <% @ads.each do |ad| %>
                  <div class="item">
                    <%= link_to image_tag(ad.banner_url(:small).to_s, style: "width: 100%;"), ad.target_url, target: "_blank" %>
                    <!--<div class="carousel-caption">-->
                      <!--<h4><%= ad.name %></h4><p><%= ad.desc %></p>-->
                    <!--</div>-->
                  </div>
              <% end %>
            </div>
            <a class="left carousel-control" href="#ads_gallery" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#ads_gallery" data-slide="next">&rsaquo;</a>
          </div>
      <% end %>
    </div>

    <ul class="thumbnails">
      <li class="span4">
        <div class="thumbnail index_img_wrap">
          <%= link_to home_stores_path, :style => 'text-align:center;background-color:#ffffff;display:block;' do %>
              <h4>Restaurant <br/> Hub</h4>
              <%= image_tag "/assets/restaurant_hub.jpg" %>
          <% end %>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail index_img_wrap">
          <%= link_to home_delivery_path, :style => 'text-align:center;background-color:#ffffff;display:block;' do %>
              <h4 style="background: #154ecd;box-shadow: inset 0px 1px 2px #154ecd, 0px 1px 0px white;">Restaurant <br/> Delivery</h4>
              <%= image_tag "/assets/restaurant_delivery.jpg" %>
          <% end %>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail index_img_wrap">
          <%= link_to home_coupons_path, :style => 'text-align:center;background-color:#ffffff;display:block;' do %>
              <h4 style="background: #32cd32;box-shadow: inset 0px 1px 2px #32cd32, 0px 1px 0px white;">Restaurant <br/> Coupons</h4>
              <%= image_tag "/assets/restaurant_coupons.jpg" %>
          <% end %>
        </div>
      </li>
      <!--<li class="span4">-->
      <!--<div class="thumbnail index_img_wrap">-->
      <!--<%= link_to home_grocery_path, :style => 'text-align:center;background-color:#ffffff;display:block;' do %>-->
          <!--<%= image_tag "/assets/grocery_delivery.jpg" %>-->
          <!--<h4 style="background: #32cd32;box-shadow: inset 0px 1px 2px #32cd32, 0px 1px 0px white;">Grocery Delivery</h4>-->
          <!--<% end %>-->
      <!--</div>-->
      <!--</li>-->
    </ul>

    <div class="well">
      <div class="row-fluid">
        <div class="span8">
          <%= image_tag "/assets/joey_500x250.gif", style: "width:100%;" %>
        </div>
        <div class="span4" style="text-align: center;">
          <h2>Do you share?</h2>
          <br/>
          <%= link_to "Share<h4>Meals4.Me</h4>on Facebook".html_safe, "javascript:;", class: "btn btn-primary", style: "width: 150px;",
                      onclick: "window.open('https://www.facebook.com/sharer/sharer.php?u=http://meals4.me','Share','height=300, width=500, top=150,left=300, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no');" %>
          <br/>
          <h4>One click to support us.</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="span4 well" style="background: #ffffff;padding: 10px;">
    <div class="row-fluid">
      <div class="span6">
        <div id="news_container">
          <ul>
            <% @posts.each do |post| %>
                <li>
                  <%= post.desc.html_safe %>
                  <br/>
                  <span style="font-size: 10px;color: #777777;">
                    <%= post.created_at.strftime("%Y-%m-%d %H:%M %P") %>
                  </span>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="span6">
        <b><%= Time.now.strftime("%Y-%m-%d, %A") %></b>
        <br/><br/>
        <div id="weather"></div>
        <br/>
        <table>
          <tr>
            <td>
              <%= link_to "https://chrome.google.com/webstore/detail/meals4me/miinanihaigjbhiekjadnmagbfcmcmdp", target: "_blank", style: "text-decoration: none;" do %>
                  <br/>
                  <%= image_tag("/assets/mfm_chrome_260x200.png", style: "width: 100%;") %>
                  <br/>
                  <span class="badge badge-important">@ Chrome</span>
              <% end %>
            </td>
            <td>
              <%= link_to "https://www.facebook.com/pages/meals4me/149705428516213", target: "_blank", style: "text-decoration: none;" do %>
                  <%= image_tag("/assets/mfm_facebook_260x200.png", style: "width: 100%;") %>
                  <br/>
                  <span class="badge badge-info">@ Facebook</span>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <hr/>
    <div class="fb-like-box" data-href="https://www.facebook.com/pages/meals4me/149705428516213"
         data-width="400" data-height="540" data-border-color="#FFFFFF" data-show-faces="true" data-stream="true" data-header="false"></div>
  </div>
</div>