<%= render 'store_header' %>

<div class="row">
  <div class="span8" id="main">
    <div class="well">
      <div class="row-fluid">
        <ul class="thumbnails">
          <% @dishes.each do |dish| %>
              <% @menu_still_open = dish.category.menu.still_open? %>
              <li class="span4">
                <div class="thumbnail">
                  <%= image_tag dish.photo_url(:small).to_s  %>
                  <div class="caption">
                    <b><%= truncate(dish.name, length: 30) %></b>
                    <% dish.dish_features.each do |df| %>
                        <div style="width: 16px;height: 16px;margin-right: 4px;" class="pull-right icons_dish_features-dish_feature_<%= df.name %>"></div>
                    <% end %>
                    <% if @can_order_online %>
                        <% if @store_still_open && @menu_still_open %>
                            <%= link_to number_to_currency(dish.price), home_dish_modal_path(dish), :remote => true,
                                        :class => 'pre_order btn btn-primary pull-right' %>
                        <% else %>
                            <%= link_to number_to_currency(dish.price), "javascript:alert('" + Dish::ERROR_MSG + "');",
                                        :class => 'btn btn-inverse pull-right' %>
                        <% end %>
                    <% else %>
                        <%= link_to number_to_currency(dish.price), 'javascript:alert("' + @store.name.to_s + ' cannot order online, please call ' + @store.phone + ' to place order!");',
                                    :class => 'btn btn-inverse pull-right' %>
                    <% end %>
                    <i><%= truncate(sanitize(dish.desc), length: 40) %></i>
                  </div>
                </div>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="span4">
    <div class="well" id="side">
      <div id="cart">
        <% if @cart %>
            <%= render @cart %>
        <% else %>
            <%= image_tag "/assets/mfm_logo.png" %>
            <h4>Your Cart Is Empty!</h4>
        <% end %>
      </div>
    </div>
  </div>
</div><!--/row-->
