<div class="row">
  <div class="span7" id="main">
    <div class="well">
      <table class="table table-hover" style="margin-bottom: 0px;">
        <% @stores.each do |store| %>
            <tr>
              <td width="35%">
                <%= image_tag store.image_url(:small).to_s %>
              </td>
              <td width="45%">
                <div>
                  <h4><%= store.name %></h4>
                  <p><%= store.address.address1 %></p>
                  <p><%= store.phone %> | <%= store.fax %></p>
                  <%= link_to 'View Menu', home_store_good_path(store), :class => 'btn btn-primary' %>
                </div>
              </td>
              <td width="20%">
                <br/>
                <%= link_to 'What\'s Good', home_load_store_good_path(store), remote: true, class: 'load_trigger btn btn-info btn-block' %>
                <%= link_to 'Yelp Review', home_load_store_reviews_path(store), remote: true, class: 'load_trigger btn btn-info btn-block' %>
                <%= link_to 'Information', home_load_store_info_path(store), remote: true, class: 'load_trigger btn btn-info btn-block' %>
              </td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="span5">
    <div class="well" id="side_map">
      <%= gmaps(
                  :map_options => { :auto_adjust => true },
                  :markers => { :data => @json, :options => { :list_container => "markers_list" }}
          )
      %>
      <ul id="markers_list" style="display: none;"></ul>
    </div>
  </div>
</div><!--/row-->

<!-- Click Button To Load Information With The Store -->
<div class="well" id="load_box_wrap">
  <a class="close" href="javascript:;">x&nbsp;</a>
  <div class="well" id="load_box"></div>
</div>