<%= render 'store_header' %>

<div class="row">
  <div class="span8" id="main">
    <div class="well">
      <div class="row-fluid">
        <ul class="nav nav-tabs first_child_active" style="margin-bottom: 0px;">
          <% @store.menus.each do |menu| %>
              <li>
                <a href="#menu_<%= menu.id %>">
                  <%= menu.name %>
                  <br/>
                  <%= menu.desc %>
                </a>
              </li>
          <% end %>
        </ul>

        <div class="tab-content first_child_active" style="background-color: #ffffff;border-left: 1px solid #dddddd;padding: 20px;">
          <% @store.menus.each do |menu| %>
              <div class="tab-pane" id="menu_<%= menu.id %>">
                <% menu.categories.each do |category| %>
                    <section id="<%= category.name %>">
                      <h4><%= category.name %> | <%= category.desc %></h4>
                      <ul class="thumbnails">
                        <% category.dishes.each do |dish| %>
                            <li class="span6">
                              <div class="thumbnail store_menu_dish_wrap" rel="popover" title="<%= dish.name %>"
                                   data-content="<% if dish.desc.empty? %>Info coming soon ...
                                   <% else %><%= sanitize(dish.desc) %><% end %>">
                                <%= link_to home_dish_modal_path(dish), :remote => true do %>
                                    <%= dish.name %>
                                    <i class="pull-right"><%= number_to_currency(dish.price) %></i>
                                    <% dish.dish_features.each do |df| %>
                                        <div style="width: 16px;height: 16px;margin-right: 4px;" class="pull-right icons_dish_features-dish_feature_<%= df.name %>"></div>
                                    <% end %>
                                <% end %>
                              </div>
                            </li>
                        <% end %>
                      </ul>
                    </section>
                <% end %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="span4">
    <div class="well" id="side">
      <div id="cart"><%= render @cart %></div>
      <div id="modal_wrap"></div>
    </div>
  </div>
</div><!--/row-->
