<%= render 'store_header' %>

<div class="row">
  <div class="span8" id="main">
    <div class="well">
     <% @store.coupons.each do |coupon| %>
          <div class="row-fluid">
            <div class="span5">
              <% unless coupon.name.blank? && coupon.desc.blank? %>
                  <h4>Description:</h4>
                  <%= coupon.name %> : <%= coupon.desc %>
                  <br/><br/>
              <% end %>

              <h4>Effective For:</h4>
              From <%= coupon.start_at.strftime("%Y-%m-%d") %> to <%= coupon.end_at.strftime("%Y-%m-%d") %>
              <br/><br/>

              <h4>Redeem Coupon</h4>
              <table>
                <tr>
                  <td width="50%">
                    <% if coupon.scope.include? "in_store" %>
                        For dine-in or phone order, print coupon.
                        <%= link_to "Print Coupon", "javascript:;", class: "btn btn-primary", style: "width: 90px;",
                                    onclick: "window.open('/home/print_coupon/#{coupon.id}','PrintCoupon','height=600, width=800, top=150,left=300, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no');" %>
                    <% end %>
                  </td>
                  <td width="50%">
                    <% if coupon.scope.include? "online" %>
                        For online order, click for coupon code.
                        <% if coupon.still_open? %>
                            <%= link_to "Coupon Code", "javascript:;", class: "btn btn-primary cfc", style: "width: 90px;" %>
                            <%= link_to coupon.encode_coupon, "javascript:;", class: "btn btn-info cfc", style: "display: none; width: 90px;" %>
                        <% else %>
                            <%= link_to "Coupon Code", "javascript:alert('Not the right time. Please check the effective time on the coupon.');",
                                        class: "btn btn-primary", style: "width: 90px;" %>
                        <% end %>
                    <% end %>
                  </td>
                </tr>
              </table>
            </div>
            <div class="span7">
              <%= image_tag coupon.photo_url(:small).to_s %>
            </div>
          </div>
          <hr/>
      <% end %>
    </div>
  </div>

  <div class="span4">
    <div class="well" id="side">
      <div id="cart">
        <% if @cart %>
            <%= render @cart %>
        <% else %>
            <%= image_tag "/assets/mfm_logo.png" %>
            <h4>Your Cart Is Empty!</h4>
        <% end %>
      </div>
    </div>
  </div>
</div><!--/row-->