<div data-role="content">
  <%= render 'store_header' %>

  <ul data-role="listview" data-inset="true" data-theme="e" data-divider-theme="e">
    <li data-role="list-divider">Tags:</li>
    <li>
      <% @store.tags.each do |t| %>
          <%= t.name %>
      <% end %>
    </li>
    <li data-role="list-divider">Payments:</li>
    <li>
      <% @store.payments.each do |p| %>
          <p><%= image_tag p.avatar_url(:small).to_s if p.avatar? %></p>
      <% end %>
    </li>
    <li data-role="list-divider">Hours:</li>
    <li>
      <% @store.hours.each do |h| %>
          <%= h.desc %>: <br/>
          <p style="font-size:14px;margin-top: 3px;;"><%= h.open_at %> - <%= h.close_at %></p>
      <% end %>
    </li>
    <li data-role="list-divider">Delivery Policy:</li>
    <li><p>Within 3 miles.</p></li>
  </ul>
</div><!-- /content -->