<%= render 'store_header' %>

<div class="row-fluid">
  <div class="span8 well">
    <ul class="thumbnails">
      <% @store.menus.each do |menu| %>
          <% menu.categories.each do |category| %>
              <% category.dishes.each do |dish| %>
                  <li class="span4">
                    <div class="thumbnail" style="background-color: #ffffff;">
                      <%= image_tag dish.image_url.to_s  %>
                      <div class="caption">
                        <%= dish.name %><i class="pull-right"><%= number_to_currency(dish.price) %></i>
                        <p><%= sanitize(dish.desc) %></p>
                        <%= button_to 'Order', home_dish_modal_path(dish), :remote => true, :class => 'pre_order btn btn-primary pull-right' %>
                      </div>
                    </div>
                  </li>
              <% end %>
          <% end %>
      <% end %>
    </ul>
  </div>

  <div class="span4 well">
    <%= render 'store_cart' %>
  </div>
</div><!--/row-->
