<%= render 'store_header' %>

<div class="row-fluid">
  <div class="span8 well" id="main">
    <ul class="thumbnails">
      <% @store.menus.each do |menu| %>
          <% menu.categories.each do |category| %>
              <% category.dishes.each do |dish| %>
                  <li class="span4">
                    <div class="thumbnail">
                      <%= image_tag dish.image_url.to_s  %>
                      <div class="caption">
                        <b><%= dish.name %></b>
                        <%= button_to number_to_currency(dish.price), home_dish_modal_path(dish),
                                      :remote => true, :class => 'pre_order btn btn-warning pull-right' %>
                        <i><%= sanitize(dish.desc) %></i>
                      </div>
                    </div>
                  </li>
              <% end %>
          <% end %>
      <% end %>
    </ul>
  </div>

  <div class="span4 well" id="side">
    <%= render 'store_cart' %>
  </div>
</div><!--/row-->
