<div data-role="page" id="page1" data-theme="e" data-url="/home/store/<%= @store.id %>">
  <%= render 'header' %>

  <div data-role="content" data-inset="false">
    <%= render 'store_header' %>

    <ul data-role="listview" data-inset="false">
      <% @store.menus.each do |menu| %>
          <% menu.categories.each do |category| %>
              <% category.dishes.each do |dish| %>
                  <li>
                    <%= link_to home_dish_modal_path(dish, :page => 'page1'), :remote => true do %>
                      <%= image_tag dish.image_url(:small).to_s, :width => 100, :height => 100 %>
                      <h3><%= dish.name %> - <%= number_to_currency dish.price %></h3>
                      <p><%= dish.desc %></p>
                      <span class="ui-li-count">13</span>
                    <% end %>
                  </li>
              <% end %>
          <% end %>
      <% end %>
    </ul>

    <div id="modal_wrap_page1"></div>
  </div><!-- /content -->

  <%= render 'footer' %>
</div>

<div data-role="page" id="page2" data-theme="e">
  <%= render 'header' %>

  <div data-role="content">
    <%= render 'store_header' %>

    <div data-role="collapsible-set" data-inset="false" data-content-theme="d">
      <% @store.menus.each do |menu| %>
          <% menu.categories.each do |category| %>
              <div data-role="collapsible">
                <h2><%= category.name %></h2>
                <ul data-role="listview" data-split-icon="gear" data-inset="false" data-filter-theme="c" data-divider-theme="d">
                  <% category.dishes.each do |dish| %>
                      <li>
                        <%= link_to home_dish_modal_path(dish, :page => 'page2'), :remote => true do %>
                            <%= dish.name %> - <%= number_to_currency dish.price %>
                            <span class="ui-li-count">11</span>
                        <% end %>
                      </li>
                  <% end %>
                </ul>
              </div>
          <% end %>
      <% end %>
    </div>

    <div id="modal_wrap_page2"></div>
  </div><!-- /content -->

  <%= render 'footer' %>
</div><!-- /page -->

<div data-role="page" id="page3" data-theme="e">
  <%= render 'header' %>

  <div data-role="content">
    <%= render 'store_header' %>

    <ul data-role="listview" data-theme="e" data-divider-theme="e">
      <li data-role="list-divider">Address:</li>
      <li><%= @store.address.address1 %></li>
      <li data-role="list-divider">Phone:</li>
      <li><%= @store.phone %></li>
      <li data-role="list-divider">Tags:</li>
      <li>
        <% @store.tags.each do |t| %>
            <%= t.name %>
        <% end %>
      </li>
      <li data-role="list-divider">Payments:</li>
      <li>
        <% @store.payments.each do |p| %>
            <p><%= image_tag p.image_url(:micro).to_s if p.image? %></p>
        <% end %>
      </li>
      <li data-role="list-divider">Hours:</li>
      <li>
        <% @store.hours.each do |h| %>
            <%= h.name %>: <br/>
            <p style="font-size:14px;margin-top: 3px;;"><%= h.open_at %> - <%= h.close_at %></p>
        <% end %>
      </li>
    </ul>
  </div><!-- /content -->

  <%= render 'footer' %>
</div><!-- /page -->

<div data-role="page" id="page4" data-theme="e">
  <%= render 'header' %>

  <div data-role="content">
    <%= render 'store_header' %>

    <% unless @reviews.empty? %>
        <ul data-role="listview" data-theme="e" data-divider-theme="e">
          <li data-role="list-divider">
            <h3>
              <%= image_tag "/assets/yelp_logo.png" %>
              <%= @reviews[0]['name'] %>
              <p class="ui-li-aside"><%= image_tag @reviews[0]['rating_img_url'] %></p>
              <span class="ui-li-count"><%= @reviews[0]['review_count'] %></span>
            </h3>
          </li>
          <% @reviews[0]['reviews'].each do |review| %>
              <li>
                <h3>
                  <%= image_tag review['user_photo_url_small'], :width => 20, :height => 20 %> <%= review['user_name'] %>
                </h3>
                <p><%= review['text_excerpt'] %></p>
                <p><%= link_to 'Read more', review['url'] %></p>
                <p class="ui-li-aside"><%= image_tag review['rating_img_url'] %></p>
              </li>
          <% end %>
        </ul>
    <% end %>
  </div><!-- /content -->

  <%= render 'footer' %>
</div><!-- /page -->
