<%= render 'store_header' %>

<div class="row">
  <div class="span8" id="main">
    <div class="well">
      <h4>Hours:</h4>
      <ul>
        <% @store.hours.each do |h| %>
            <li><%= h.desc %>: <%= h.open_at %> - <%= h.close_at %></li>
        <% end %>
      </ul>
      <br/>

      <h4>Tags:</h4>
      <% @store.tags.each do |t| %>
          <%= t.name %>
      <% end %>
      <br/><br/>

      <h4>Payments:</h4>
      <% @store.payments.each do |p| %>
          <%= image_tag p.avatar_url(:small).to_s if p.avatar? %>
      <% end %>
      <br/><br/>

      <h4>Delivery Policy:</h4>
      Within 3 miles.
      <br/><br/>

      <p><br/><%= link_to 'View Menu', home_store_good_path(@store), :class => 'btn btn-primary' %></p>
    </div>
  </div>

  <div class="span4">
    <div class="well" id="side">
      <div id="cart"><%= render @cart %></div>
    </div>
  </div>
</div><!--/row-->
