<%= render 'store_header' %>

<div class="row">
  <div class="span8" id="main">
    <div class="well">
      <div class="row-fluid">
        <ul class="thumbnails">
          <% @store.menus.each do |menu| %>
              <% menu.categories.each do |category| %>
                  <% category.dishes.each do |dish| %>
                      <li class="span4">
                        <div class="thumbnail">
                          <%= image_tag dish.image_url.to_s  %>
                          <div class="caption">
                            <b><%= dish.name %></b>
                            <% dish.dish_features.each do |df| %>
                                <div style="width: 16px;height: 16px;margin-right: 4px;" class="pull-right icons_dish_features-dish_feature_<%= df.name %>"></div>
                            <% end %>
                            <%= button_to number_to_currency(dish.price), home_dish_modal_path(dish),
                                          :remote => true, :class => 'pre_order btn btn-primary pull-right' %>
                            <i><%= sanitize(dish.desc) %></i>
                          </div>
                        </div>
                      </li>
                  <% end %>
              <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="span4">
    <div class="well" id="side">
      <div id="cart"><%= render @cart %></div>
    </div>
  </div>
</div><!--/row-->
