<div data-role="content" data-inset="false">
  <%= render 'store_header' %>

  <ul data-role="listview" data-inset="true">
    <% @dishes.each do |dish| %>
        <% @menu_still_open = dish.category.menu.still_open? %>
        <li>
          <% if session["cart_delivery_type_#{@store.id}"] %>
              <% if @store_still_open && @menu_still_open %>
                  <%= link_to home_dish_modal_path(dish), :remote => true do %>
                      <%= image_tag dish.photo_url(:small).to_s, :width => 100, :height => 100 %>
                      <h3><%= dish.name %></h3>
                      <p><%= number_to_currency dish.price %></p>
                  <% end %>
              <% else %>
                  <%= link_to "javascript: alert('" + Dish::ERROR_MSG + "');" do %>
                      <%= image_tag dish.photo_url(:small).to_s, :width => 100, :height => 100 %>
                      <h3><%= dish.name %></h3>
                      <p><%= number_to_currency dish.price %></p>
                  <% end %>
              <% end %>
          <% else %>
              <%= link_to 'javascript:alert("' + @store.name.to_s + ' cannot order online, please call ' + @store.phone + ' to place order!");' do %>
                  <%= image_tag dish.photo_url(:small).to_s, :width => 100, :height => 100 %>
                  <h3><%= dish.name %></h3>
                  <p><%= number_to_currency dish.price %></p>
              <% end %>
          <% end %>
        </li>
    <% end %>
  </ul>

  <div id="modal_wrap"></div>
</div><!-- /content -->
