<%= render 'store_header' %>

<div class="row">
  <div class="span8" id="main">
    <div class="well">
      <div class="row-fluid">
        <ul class="nav nav-tabs first_child_active" style="margin-bottom: 0px;">
          <% @store.menus.each do |menu| %>
              <li>
                <a href="#menu_<%= menu.id %>"><%= menu.name %></a>
              </li>
          <% end %>
        </ul>

        <div class="tab-content first_child_active" style="background-color: #ffffff;border-left: 1px solid #dddddd;padding: 20px;">
          <% @store.menus.each do |menu| %>
              <% @menu_still_open = menu.still_open? %>
              <div class="tab-pane" id="menu_<%= menu.id %>">
                <% menu.categories.each do |category| %>
                    <section id="<%= category.name %>">
                      <h4><%= category.name %></h4>
                      <ul class="thumbnails">
                        <% category.dishes.each do |dish| %>
                            <li class="span6" style="margin-bottom:10px">
                              <% if @can_order_online %>
                                  <% if @store_still_open && @menu_still_open %>
                                      <div class="thumbnail store_menu_dish_wrap_open" rel="popover" title="<%= dish.name %>"
                                           data-content="<% if dish.desc.empty? %>Info coming soon ...
                                   <% else %><%= sanitize(dish.desc) %><% end %>">
                                        <%= link_to home_dish_modal_path(dish), :remote => true do %>
                                            <%= truncate(dish.name, length: 40) %>
                                            <i class="pull-right"><%= number_to_currency(dish.price) %></i>
                                            <% dish.dish_features.each do |df| %>
                                                <div style="width: 16px;height: 16px;margin-right: 4px;" class="pull-right icons_dish_features-dish_feature_<%= df.name %>"></div>
                                            <% end %>
                                        <% end %>
                                      </div>
                                  <% else %>
                                      <div class="thumbnail store_menu_dish_wrap_closed" rel="popover" title="<%= dish.name %>"
                                           data-content="<% if dish.desc.empty? %>Info coming soon ...
                                   <% else %><%= sanitize(dish.desc) %><% end %>">
                                        <%= link_to "javascript:alert('" + Dish::ERROR_MSG + "');" do %>
                                            <%= truncate(dish.name, length: 40) %>
                                            <i class="pull-right"><%= number_to_currency(dish.price) %></i>
                                            <% dish.dish_features.each do |df| %>
                                                <div style="width: 16px;height: 16px;margin-right: 4px;" class="pull-right icons_dish_features-dish_feature_<%= df.name %>"></div>
                                            <% end %>
                                        <% end %>
                                      </div>
                                  <% end %>
                              <% else %>
                                  <div class="thumbnail store_menu_dish_wrap_closed" rel="popover" title="<%= dish.name %>"
                                       data-content="<% if dish.desc.empty? %>Info coming soon ...
                                   <% else %><%= sanitize(dish.desc) %><% end %>">
                                    <%= link_to 'javascript:alert("' + @store.name.to_s + ' cannot order online, please call ' + @store.phone + ' to place order!");' do %>
                                        <%= truncate(dish.name, length: 40) %>
                                        <i class="pull-right"><%= number_to_currency(dish.price) %></i>
                                        <% dish.dish_features.each do |df| %>
                                            <div style="width: 16px;height: 16px;margin-right: 4px;" class="pull-right icons_dish_features-dish_feature_<%= df.name %>"></div>
                                        <% end %>
                                    <% end %>
                                  </div>
                              <% end %>
                            </li>
                        <% end %>
                      </ul>
                    </section>
                <% end %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="span4">
    <div class="well" id="side">
      <div id="cart"><%= render @cart %></div>
    </div>
  </div>
</div><!--/row-->
