<div data-role="page" id="page1" data-theme="e">
  <%= render 'header' %>

  <div data-role="content">
    <%= render 'store_header' %>

    <ul data-role="listview" data-inset="true" data-filter="true" data-dividertheme="c">
      <% @store.menus.each do |menu| %>
          <% menu.categories.each do |category| %>
              <li data-role="list-divider"><%= category.name %></li>
              <% category.dishes.each do |dish| %>
                  <li><a href="#page1"><%= dish.name %><span class="ui-li-count">11</span></a></li>
              <% end %>
          <% end %>
      <% end %>
    </ul>
  </div><!-- /content -->

  <%= render 'footer' %>
</div>

<div data-role="page" id="page2" data-theme="e">
  <%= render 'header' %>

  <div data-role="content">
    <%= render 'store_header' %>

    <ul data-role="listview" data-inset="true" data-filter="true" data-dividertheme="c">
      <% @store.menus.each do |menu| %>
          <% menu.categories.each do |category| %>
              <li data-role="list-divider"><%= category.name %></li>
              <% category.dishes.each do |dish| %>
                  <li><a href="#page1"><%= dish.name %><span class="ui-li-count">11</span></a></li>
              <% end %>
          <% end %>
      <% end %>
    </ul>
  </div><!-- /content -->

  <%= render 'footer' %>
</div><!-- /page -->

<div data-role="page" id="page3" data-theme="e">
  <%= render 'header' %>

  <div data-role="content">
    <%= render 'store_header' %>

    <h2><%= @store.name %></h2>
    <p><%= @store.address.address1 %></p>
    <p>Phone: <%= @store.phone %> | Fax: <%= @store.fax %></p>
    <br/>
    <p>Hours:</p>
    <ul>
      <% @store.hours.each do |h| %>
          <li><%= h.name %>: <%= h.open_at %> - <%= h.close_at %></li>
      <% end %>
    </ul>
    <p>Tags:</p>
      <span>
        <% @store.tags.each do |t| %>
            <%= t.name %>
        <% end %>
      </span>
    <p>Payments:</p>
       <span>
        <% @store.payments.each do |p| %>
             <%= p.name %>
             <%= image_tag p.image_url(:tiny).to_s if p.image? %>
        <% end %>
      </span>
    <p><%= link_to 'View Menu', home_store_path(@store), :class => 'btn btn-primary btn-large' %></p>
  </div><!-- /content -->

  <%= render 'footer' %>
</div><!-- /page -->

<div data-role="page" id="page4" data-theme="e">
  <%= render 'header' %>

  <div data-role="content">
    <%= render 'store_header' %>

    <% unless @reviews.empty? %>
        <%= image_tag "/assets/yelp_logo.png" %>
        <h5><%= @reviews[0]['name'] %></h5>
        <%= image_tag @reviews[0]['rating_img_url'] %> <%= @reviews[0]['review_count'] %> reviews
        <hr/>
        <% @reviews[0]['reviews'].each do |review| %>
            <%= image_tag review['user_photo_url_small'], :width => 20, :height => 20 %>
            <%= review['user_name'] %>
            <%= image_tag review['rating_img_url'] %>
            <br/>
            <%= review['text_excerpt'] %> <%= link_to 'Read more', review['url'] %>
            <hr/>
        <% end %>
    <% end %>
  </div><!-- /content -->

  <%= render 'footer' %>
</div><!-- /page -->
