<ul class="thumbnails">
  <li class="span6">
    <div class="thumbnail">
      <%= form_for(@order) do |f| %>
          <% if @order.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
                <ul>
                  <% @order.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <table style="margin-left: 20px;">
            <tr>
              <td colspan="2">
                <h4><br/><% if user_signed_in? %>Welcome, our user!<% else %>No Account?<% end %></h4>
              </td>
            </tr>
            <tr>
              <td colspan="2"><label><%= f.text_field :note, :placeholder => 'Special instructions' %></label></td>
            </tr>
            <tr>
              <td colspan="2"><%= f.select :payment_type, Order::PAYMENT_TYPES, prompt: 'Select a payment method' %></td>
            </tr>
            <%= f.fields_for :user do |builder| %>
                <tr>
                  <td><label><%= builder.text_field :firstname, style: 'width: 96px', :placeholder => 'Firstname' %></label></td>
                  <td><label><%= builder.text_field :lastname, style: 'width: 96px', :placeholder => 'Lastname' %></label></td>
                </tr>
                <tr>
                  <td colspan="2"><label><%= builder.text_field :phone, :placeholder => 'Phone' %></label></td>
                </tr>

                <%= builder.fields_for :address do |addr| %>
                    <tr>
                      <td colspan="2"><label><%= addr.text_field :address1, :placeholder => 'Address' %></label></td>
                    </tr>
                    <tr>
                      <td colspan="2"><label><%= addr.text_field :address2, :placeholder => 'Apt / Building / Suite' %></label></td>
                    </tr>
                <% end %>
                <% unless user_signed_in? %>
                    <tr>
                      <td colspan="2"><h4><br/>Get An Account (Optional)</h4></td>
                    </tr>
                    <tr>
                      <td colspan="2"><label><%= builder.text_field :email, :placeholder => 'Email'  %></label></td>
                    </tr>
                    <tr>
                      <td><label><%= builder.password_field :password, style: 'width: 96px', :placeholder => 'Password'  %></label></td>
                      <td><label><%= builder.password_field :password_confirmation, style: 'width: 96px', :placeholder => 'Confirmation'  %></label></td>
                    </tr>
                <% end %>
            <% end %>
            <tr>
              <td colspan="2">
                <br/>
                <%= f.hidden_field :store_id %>
                <%= f.hidden_field :cart_id %>
                <%= f.submit %>
              </td>
            </tr>
          </table>
      <% end %>
    </div>
  </li>
  <li class="span6">
    <% unless user_signed_in? %>
        <div class="thumbnail">
          <%= form_for("user", :url => user_session_path) do |f| %>
              <table style="margin-left: 20px;">
                <tr>
                  <td colspan="2"><h4><br/>Already Has An Account?</h4></td>
                </tr>
                <tr>
                  <td colspan="2"><label><%= f.text_field :email, :placeholder => 'Email'  %></label></td>
                </tr>
                <tr>
                  <td colspan="2"><label><%= f.password_field :password, :placeholder => 'Password'  %></label></td>
                </tr>
                <tr>
                  <td><%= f.check_box :remember_me %></td>
                  <td><%= f.label :remember_me %></td>
                </tr>
                <tr>
                  <td colspan="2"><br/><%= f.submit 'Sign in' %></td>
                </tr>
                <tr>
                  <td colspan="2"><br/><%= link_to "Forgot your password?", new_password_path('user') %></td>
                </tr>
              </table>
          <% end %>
        </div>
    <% end %>
  </li>
</ul>