<div data-role="content" >
  <div class="ui-body ui-body-e" style="padding: 10px;;">
    <p id="notice"><%= notice %></p>

    <p>
      <b>Email:</b>
      <%= @ticket.email %>
    </p>

    <p>
      <b>Content:</b>
      <%= @ticket.content %>
    </p>

    <%= link_to 'Back to restaurants', home_stores_path, data: { role: 'button' }, rel: 'external' %>
    <%= link_to 'I want some grocery!', home_grocery_path, data: { role: 'button' }, rel: 'external' %>
  </div>
</div>
