<% if cart.cart_items.empty? %>
    <h4>Your Cart Is Empty!</h4>
<% else %>
    <ul data-role="listview">
      <li>
        Cart @ <%= cart.store.name %>
        <div data-role="controlgroup" data-type="horizontal" data-mini="true" class="button-glyphish">
          <% if params[:controller] == "orders" %>
              <% if cart.delivery_type == 'delivery' %>
                  <%= link_to 'Delivery', "javascript:;", data: {role: 'button', theme: 'b'} %>
              <% elsif cart.delivery_type == 'melivery' %>
                  <%= link_to 'Delivery.', "javascript:;", data: {role: 'button', theme: 'b'} %>
              <% elsif cart.delivery_type == 'pick_up' %>
                  <%= link_to 'Pick Up', "javascript:;", data: {role: 'button', theme: 'b'} %>
              <% elsif cart.delivery_type == 'express' %>
                  <%= link_to 'Reserve', "javascript:;", data: {role: 'button', theme: 'b'} %>
              <% end %>
          <% else %>
              <%= link_to 'Delivery', type_cart_path(cart, delivery_type: :delivery), data: {role: 'button',  theme: (cart.delivery_type == 'delivery') ? 'b' : 'a'}, remote: true if cart.store.has_delivery_service? %>
              <%= link_to 'Delivery.', type_cart_path(cart, delivery_type: :melivery), data: {role: 'button', theme: (cart.delivery_type == 'melivery') ? 'b' : 'a'}, remote: true if cart.store.has_melivery_service? %>
              <%= link_to 'Pick Up', type_cart_path(cart, delivery_type: :pick_up), data: {role: 'button', theme: (cart.delivery_type == 'pick_up') ? 'b' : 'a'}, remote: true if cart.store.has_pick_up_service? %>
              <%= link_to 'Reserve', type_cart_path(cart, delivery_type: :express), data: {role: 'button', theme: (cart.delivery_type == 'express') ? 'b' : 'a'}, remote: true if cart.store.has_express_service? %>
          <% end %>
        </div>
      </li>

      <%= render(cart.cart_items) %>

      <li style="text-align: right;font-size: 13px;">
        Subtotal: <%= number_to_currency(cart.subtotal_price) %><br/>
        Tax: <%= number_to_currency(cart.subtotal_price*0.0825) %><br/>
        <% if cart.delivery_fee > 0 %>Delivery Fee: <%= number_to_currency(cart.delivery_fee) %><br/><% end %>
        Total: <%= number_to_currency(cart.total_price) %>

        <!--Give cash back when signed in and in a cash_back store-->
        <% if user_signed_in? && cart.store.cash_back_rate > 0 %>
            <span style="float:left;font-style:italic;">Earning <%= number_to_currency cart.cash_back %> cash back!</span>
        <% end %>
      </li>

      <!--Be able to edit order if not checkout page-->
      <% unless params[:controller] == "orders" %>
          <li>
            <div class="ui-grid-a">
              <div class="ui-block-a">
                <%= link_to "Empty cart", cart, data: {role: "button", mini: true }, remote: true, method: :delete, confirm: "Are you sure?" %>
              </div>
              <div class="ui-block-b">
                <% if cart.delivery_type == "delivery" && cart.total_price < cart.store.delivery_minimum %>
                    <%= link_to "Min. #{number_to_currency(cart.store.delivery_minimum)}", "javascript:;", data: { role: "button", mini: true } %>
                <% else %>
                    <%= link_to "Proceed", new_order_path(store_id: cart.store_id), data: { role: "button", mini: true }, rel: "external" %>
                <% end %>
              </div>
            </div>
          </li>
      <% end %>
    </ul>
<% end %>
