<%= hidden_ul_if(cart.cart_items.empty?, class: 'nav nav-list') do %>
    <li class="nav-header">Your Cart from <%= cart.store.name %></li>
    <li>
      <% if cart.delivery_type == 'Delivery' %>
          <%= link_to 'Delivery', home_change_cart_delivery_type_path(delivery_type: :Delivery), class: 'delivery_type_active', remote: true %>
          <%= link_to 'Pick Up', home_change_cart_delivery_type_path(delivery_type: :PickUp), class: 'delivery_type_not_active', remote: true %>
      <% else %>
          <%= link_to 'Delivery', home_change_cart_delivery_type_path(delivery_type: :Delivery), class: 'delivery_type_not_active', remote: true %>
          <%= link_to 'Pick Up', home_change_cart_delivery_type_path(delivery_type: :PickUp), class: 'delivery_type_active', remote: true %>
      <% end %>
    </li>
    <%= render(cart.cart_items) %>
    <li><hr/></li>
    <li>
      <a>Subtotal: <span class="pull-right"><%= number_to_currency(cart.total_price) %></span></a>
    </li>
    <li>
      <a>Tax: <span class="pull-right"><%= number_to_currency(cart.total_price*0.0825) %></span></a>
    </li>
    <li>
      <a>Delivery Fee: <span class="pull-right"><%= number_to_currency(cart.store.delivery_fee) %></span></a>
    </li>
    <li>
      <a>Total: <span class="pull-right"><%= number_to_currency(cart.total_price*1.0825 + cart.store.delivery_fee) %></span></a>
    </li>
    <li><hr/></li>
    <li>
      <%= button_to 'Proceed', new_order_path, method: :get, :class => 'btn btn-large btn-block btn-primary' %>
      <%= button_to 'Empty cart', cart, :class => 'btn btn-large btn-block', :remote => true, method: :delete, confirm: 'Are you sure?' %>
    </li>
<% end %>