<%= hidden_ul_if(cart.cart_items.empty?) do %>
    <li>Your Cart from <%= cart.store.name %></li>
    <li>
      <% if cart.delivery_type == 'Delivery' %>
          <%= link_to 'Delivery', home_change_cart_delivery_type_path(delivery_type: :Delivery), class: 'delivery_type_active', remote: true %>
          <%= link_to 'Pick Up', home_change_cart_delivery_type_path(delivery_type: :PickUp), class: 'delivery_type_not_active', remote: true %>
      <% else %>
          <%= link_to 'Delivery', home_change_cart_delivery_type_path(delivery_type: :Delivery), class: 'delivery_type_not_active', remote: true %>
          <%= link_to 'Pick Up', home_change_cart_delivery_type_path(delivery_type: :PickUp), class: 'delivery_type_active', remote: true %>
      <% end %>
    </li>
    <hr/>
    <%= render(cart.cart_items) %>
    <hr/>
    <li>Subtotal: <span class="pull-right"><%= number_to_currency(cart.total_price) %></span></li>
    <li>Tax: <span class="pull-right"><%= number_to_currency(cart.total_price*0.0825) %></span></li>
    <li>Delivery Fee: <span class="pull-right"><%= number_to_currency(cart.store.delivery_fee) %></span></li>
    <li>Total: <span class="pull-right"><%= number_to_currency(cart.total_price*1.0825 + cart.store.delivery_fee) %></span></li>
    <hr/>
    <li>
      <%= button_to 'Proceed', new_order_path, method: :get, :class => 'btn btn-primary pull-right' %>
      <%= button_to 'Empty cart', cart, :class => 'btn', :remote => true, method: :delete, confirm: 'Are you sure?' %>
    </li>
<% end %>