<%= hidden_ul_if(@cart.cart_items.empty?, class: 'nav nav-list') do %>
    <li class="nav-header">Your Cart from <%= @cart.store.name %></li>
    <%= render(cart.cart_items) %>
    <li><hr/></li>
    <li>
      <a>Subtotal: <span class="pull-right"><%= number_to_currency(cart.total_price) %></span></a>
    </li>
    <li>
      <a>Tax: <span class="pull-right"><%= number_to_currency(cart.total_price*0.0825) %></span></a>
    </li>
    <li>
      <a>Delivery Fee: <span class="pull-right"><%= number_to_currency(cart.store.delivery_fee) %></span></a>
    </li>
    <li>
      <a>Total: <span class="pull-right"><%= number_to_currency(cart.total_price*1.0825 + cart.store.delivery_fee) %></span></a>
    </li>
    <li><hr/></li>
    <li>
      <%= button_to 'Proceed', new_order_path, method: :get, :class => 'btn btn-large btn-block btn-primary' %>
      <%= button_to 'Empty cart', cart, :class => 'btn btn-large btn-block', method: :delete, confirm: 'Are you sure?' %>
    </li>
<% end %>