<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @dish.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @dish.desc %>
</p>

<p>
  <b>Price:</b>
  <%= @dish.price %>
</p>

<p>
  <b>Category:</b>
  <%= @dish.category.name %>
</p>

<p>
  <b>Dish Features:</b>
  <% @dish.dish_features.each do |df| %>
      <br/><b><%=df.name %>:</b><%= df.desc %>
  <% end %>
</p>

<%= link_to 'Edit', edit_category_dish_path(@category, @dish) %> |
<%= link_to 'Back', store_menus_path(@category.menu.store) %>