<% if params[:controller] == "orders" %>
    <li data-icon="false">
      <%= link_to "javascript:;" do %>
          <%= truncate(cart_item.cart_itemable.name, limit: 30) %>
          <span class="pull-right">&times; <%= cart_item.quantity %>&nbsp;&nbsp;&nbsp;<%= number_to_currency(cart_item.total_price) %></span>
          <%= cart_item.note %>
      <% end %>
    </li>
<% else %>
    <li data-icon="delete" <%= "id=current_item" if cart_item == @current_item %>>
      <%= link_to cart_item_path(cart_item), method: :delete, data: { confirm: 'Are you sure?' }, remote: true  do %>
          <%= truncate(cart_item.cart_itemable.name, limit: 30) %>
          <span class="pull-right">&times; <%= cart_item.quantity %>&nbsp;&nbsp;&nbsp;<%= number_to_currency(cart_item.total_price) %></span>
          <%= cart_item.note %>
      <% end %>
    </li>
<% end %>