<% if params[:controller] == "orders" %>
    <li class="cart_body">
      <%= link_to "javascript:;" do %>
    <span class="left75">
      <%= truncate(cart_item.cart_itemable.name, limit: 30) %>
      <i class="pull-right">&times; <%= cart_item.quantity %></i>
    </span>
    <span class="right20">
      <%= number_to_currency(cart_item.total_price) %>
    </span>
          <br/>
          <span class="cart_item_special"><%= cart_item.note %></span>
      <% end %>
    </li>
<% else %>
    <% if cart_item == @current_item %>
        <li class="cart_body" id="current_item">
    <% else %>
        <li class="cart_body">
    <% end %>
    <%= link_to cart_item_path(cart_item), method: :delete, data: { confirm: 'Sure to delete?' }, remote: true do %>
        <span class="left75">
      <%= truncate(cart_item.cart_itemable.name, limit: 30) %>
          <i class="pull-right">&times; <%= cart_item.quantity %></i>
    </span>
        <span class="right20">
      <%= number_to_currency(cart_item.total_price) %>
          <i class="icon-remove pull-right"></i>
    </span>
        <br/>
        <span class="cart_item_special"><%= cart_item.note %></span>
    <% end %>
    </li>
<% end %>