<% if cart_item == @current_item %>
    <li id="current_item" data-icon="delete">
<% else %>
    <li data-icon="delete">
<% end %>
<%= link_to cart_item_path(cart_item), method: :delete, data: { confirm: 'Are you sure?' }, remote: true  do %>
  <%= cart_item.dish.name %>

  <span class="pull-right">&times; <%= cart_item.quantity %>&nbsp;&nbsp;&nbsp;<%= number_to_currency(cart_item.total_price) %></span>
  <%= cart_item.note %>

  <i class="icon-remove pull-right"></i>
  <i class="icon-minus pull-right"></i>
  <i class="icon-plus pull-right"></i>
<% end %>
</li>