<div class="row-fluid">
  <div class="span4 well">
    <h2>Forgot password?</h2>

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
        <%= devise_error_messages! %>

        <%= f.label :email %><%= f.email_field :email %>
        <br/><br/>
        <%= f.submit "Send me reset instructions", :class => 'btn btn-primary' %>
    <% end %>

    <br/>
    <%= render "users/shared/links" %>
  </div>
</div>