<div class="well">
<p id="notice"><%= notice %></p>

<p><b>Name:</b><%= @category.name %></p>
<p><b>Desc:</b><%= @category.desc %></p>
<p><b>Menu:</b><%= @category.menu.name %></p>

<%= link_to 'Edit', edit_menu_category_path(@menu, @category) %> |
<%= link_to 'Back', store_menus_path(@menu.store) %>
</div>