<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @plan.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @plan.desc %>
</p>

<p>
  <b>Image:</b>
  <br/>
  <%= image_tag @plan.image_url(:small).to_s if @plan.image? %>
</p>

<p>
  <b>Store:</b>
  <%= @plan.store.name %>
</p>


<%= link_to 'Edit', edit_store_plan_path(@store, @plan) %> |
<%= link_to 'Back', store_plans_path(@store) %>
