<!DOCTYPE html>
<html>
<head>
  <title>Meals4.Me</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Navbar
================================================== -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('/assets/mfm_brand.png'), home_index_path, :class => 'brand', :style => 'padding: 5px 20px 5px 40px;' %>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li id="store"><%= link_to 'Restaurant Delivery', home_stores_path %></li>
          <li id="grocery"><%= link_to 'Grocery Delivery', home_grocery_path %></li>
          <li><%= link_to 'Customer Service', home_index_path %></li>
          <% if user_signed_in? %>
              <li class=""><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
              <li class=""><%= link_to current_user.email, edit_user_registration_path %></li>
          <% else %>
              <li id="sign_in"><%= link_to 'Sign in', new_user_session_path %></li>
              <li id="sign_up"><%= link_to 'Sign up', new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Body
================================================== -->
<div class="container-fluid">
  <% flash.each do |type, message| %>
      <div class="alert <%= twitterized_type(type) %>">
        <a class="close" data-dismiss="alert">x</a>
        <strong><%= message %></strong>
      </div>
  <% end %>

  <%= yield %>

  <!-- Footer
  ================================================== -->
  <div class="footer well">
    <div class="container-fluid">
      <ul class="footer-links">
        <li>
          <% if mobile_device? %>
              <%= link_to 'Full site', :mobile => 0 %>
          <% else %>
              <%= link_to 'Mobile site', :mobile => 1 %>
          <% end %>
        </li>
        <li class="muted">&middot;</li>
        <li><%= link_to 'Restaurant Delivery', home_stores_path %></li>
        <li class="muted">&middot;</li>
        <li><%= link_to 'Grocery Delivery', home_stores_path %></li>
        <li class="muted">&middot;</li>
        <li><%= link_to 'Customer Service', home_stores_path %></li>
      </ul>

      <p>
        &copy; Meals4.Me Company 2012.
        <%= link_to '@Admin', stores_path %> licensed under <%= link_to '@Admin', stores_path %>.
        <a href="#" class="pull-right">Back to top</a>
      </p>
    </div>
  </div>
</div><!--/.fluid-container-->

<%= yield :scripts %>

</body>
</html>