<!DOCTYPE html>
<html>
<head>
  <title>Meals4.Me</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :facebook_head %>
</head>
<body>

<!-- Navbar
================================================== -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Meals4.Me', home_index_path, :class => 'brand' %>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li id="stores">  <%= link_to 'Restaurant Hub', home_stores_path %>       </li>
          <li id="delivery"><%= link_to 'Restaurant Delivery', home_delivery_path %></li>
          <li id="coupons"> <%= link_to 'Restaurant Coupons', home_coupons_path %>  </li>
          <!--<li id="grocery"> <%= link_to 'Grocery Delivery', home_grocery_path %>    </li>-->
          <% if user_signed_in? %>
              <li class="">
                <%= link_to edit_user_registration_path do %>
                    <% if current_user.avatar.present? %>
                        <%= image_tag current_user.avatar.to_s %>
                    <% else %>
                        <%= image_tag '/assets/blue_head_100x100.png' %>
                    <% end %>
                    <%= current_user.firstname[0].upcase + ". " + current_user.lastname.capitalize %>
                    <span id="cash_back_in_bar">(<%= number_to_currency current_user.cash_back %>)</span>
                <% end %>
              </li>
              <li class=""><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
          <% else %>
              <li id="sign_in"><%= link_to 'Sign in', new_user_session_path %></li>
              <li>
                <%= link_to user_omniauth_authorize_path(:facebook), style: "background-color: #3c5a98;" do %>
                    <%= image_tag '/assets/facebook_100x100.png' %> Sign in
                <% end %>
              </li>
              <li>
                <%= link_to user_omniauth_authorize_path(:google_oauth2), style: "background-color: #dd4c39;" do %>
                    <%= image_tag '/assets/google_100x100.png' %> Sign in
                <% end %>
              </li>
              <li id="sign_up"><%= link_to 'Sign up', new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Body
================================================== -->
<div class="container">

  <!-- Nav Icons
  ================================================== -->
  <div id="sites_nav">
    <a href="http://howdy.tamu.edu" class="sni icons_sites_nav-tamu_grey_40x40" target="_blank"></a>
    <a href="http://calendar.tamu.edu" class="sni icons_sites_nav-tamu_calendar_40x40" target="_blank"></a>
    <a href="http://transport.tamu.edu/busroutes" class="sni icons_sites_nav-tamu_bus_40x40" target="_blank"></a>
    <a href="http://gmail.com" class="sni icons_sites_nav-gmail_40x40" target="_blank"></a>
    <a href="http://hotmail.com" class="sni icons_sites_nav-hotmail_40x40" target="_blank"></a>
    <a href="http://mail.yahoo.com" class="sni icons_sites_nav-yahoo_mail_40x40" target="_blank"></a>
    <a href="http://google.com" class="sni icons_sites_nav-google_40x40" target="_blank"></a>
    <a href="http://wikipedia.com" class="sni icons_sites_nav-wiki_40x40" target="_blank"></a>
    <a href="http://yahoo.com" class="sni icons_sites_nav-yahoo_40x40" target="_blank"></a>
    <a href="http://youtube.com" class="sni icons_sites_nav-youtube_40x40" target="_blank"></a>
    <a href="http://espn.go.com" class="sni icons_sites_nav-espn_40x40" target="_blank"></a>
    <a href="http://blogspot.com" class="sni icons_sites_nav-blogspot_40x40" target="_blank"></a>
    <a href="http://tumblr.com" class="sni icons_sites_nav-tumblr_40x40" target="_blank"></a>
    <a href="http://facebook.com" class="sni icons_sites_nav-facebook_40x40" target="_blank"></a>
    <a href="http://twitter.com" class="sni icons_sites_nav-twitter_40x40" target="_blank"></a>
    <a href="http://linkedin.com" class="sni icons_sites_nav-linkedin_40x40" target="_blank"></a>
    <a href="http://dropbox.com" class="sni icons_sites_nav-dropbox_40x40" target="_blank"></a>
    <a href="http://evernote.com" class="sni icons_sites_nav-evernote_40x40" target="_blank"></a>
    <a href="http://amazon.com" class="sni icons_sites_nav-amazon_40x40" target="_blank"></a>
    <a href="http://ebay.com" class="sni icons_sites_nav-ebay_40x40" target="_blank"></a>
  </div>

  <% flash.each do |type, message| %>
      <div class="alert <%= twitterized_type(type) %>">
        <a class="close" data-dismiss="alert">x</a>
        <strong><%= message %></strong>
      </div>
  <% end %>

  <!--<h1 style="color: red;margin-bottom: 30px;">The site is BETA version, please don't order now!</h1>-->
  <!--<h1 style="color: red;margin-bottom: 30px;">We are coming soon!</h1>-->
  <!--<div style="background: #ffffff;">-->
    <!--<%= session.inspect %>-->
  <!--</div>-->

  <%= yield %>

  <!-- Footer
  ================================================== -->
  <div id='footer'>
    <div class="well">
      <ul class="footer-links">
        <li><%= link_to 'Restaurant Hub', home_stores_path %></li>
        <li class="muted">&middot;</li>
        <li><%= link_to 'Restaurant Delivery', home_delivery_path %></li>
        <li class="muted">&middot;</li>
        <li><%= link_to 'Restaurant Coupons', home_coupons_path %></li>
        <li class="muted">&middot;</li>
        <li><%= link_to 'Grocery Delivery', home_grocery_path %></li>
        <li class="muted">&middot;</li>
        <li>
          <% if mobile_device? %>
              <%= link_to 'Full site', :mobile => 0 %>
          <% else %>
              <%= link_to 'Mobile site', :mobile => 1 %>
          <% end %>
        </li>
        <li class="muted">&middot;</li>
        <li><%= link_to "Chrome Extension", "https://chrome.google.com/webstore/detail/meals4me/miinanihaigjbhiekjadnmagbfcmcmdp", target: "_blank" %></li>
        <li><p class="pull-right">&copy; Meals4<%= link_to ".", admin_index_path, style: "color: #333333;" %>Me Company 2012.</p></li>
      </ul>
    </div>
  </div>

  <!-- Corner
  ================================================== -->
  <div id="corner">
    <div class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="navbar-inner">
        <a class="brand">&nbsp;&nbsp;&nbsp;Talk to us: </a>
        <ul class="nav">
          <li><%= link_to_function image_tag('/assets/icons_glyphish/white/09-chat-2.png'), '$("#modal_wrap_ticket .modal").modal("show")' %></li>
          <!--<li><%= link_to image_tag('/assets/icons_glyphish/white/210-twitterbird.png'), APP_CONFIG["twitter_page"], target: '_blank' %></li>-->
          <li><%= link_to image_tag('/assets/icons_glyphish/white/208-facebook.png'), APP_CONFIG["facebook_page"], target: '_blank' %></li>
        </ul>
      </div>
    </div>
  </div>

  <% if params[:controller] == "home" %>
      <!--Displya of a cart_item when ordering-->
      <div id="modal_wrap_cart_item"></div>

      <!--Display of a photo, for dish-->
      <div id="modal_wrap_photo">
        <div class="modal hide fade">
          <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <h3>This is the Coupon Page. </h3>
          </div>
          <div class="modal-body">
            Coming soon ......
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
  <% end %>

  <% if ["admin", "users/registrations"].include?(params[:controller]) %>
      <!--The display of a order, for admin and user-->
      <div id="modal_wrap_order"></div>
  <% end %>

  <% if ["home", "users/registrations", "users/sessions", "users/passwords", "users/unlocks", "users/confirmations"].include?(params[:controller]) %>
      <!--The form to submit a ticket-->
      <div id="modal_wrap_ticket">
        <div class="modal hide fade">
          <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <h3>Thank you for using Meals4.Me. </h3>
          </div>
          <div class="modal-body">
            <%= simple_form_for(@ticket, validate: true, html: { id: 'ticket_form' }, remote: true) do |f| %>
                <%= f.error_notification %>
                <%= f.input :email %>
                <%= f.input :content, as: :text, input_html: { cols: 50, rows: 5} %>
            <% end %>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Close</button>
            <button class='btn btn-primary' onclick="$('form#ticket_form').validate().submit();">Submit</button>
          </div>
        </div>
      </div>
  <% end %>
</div>

<%= yield :scripts %>

<% if Rails.env.production? %>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-38643723-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
<% end %>

</body>
</html>