<!DOCTYPE html>
<html>
<head>
  <title>Meals4.Me</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    "mobile/application", :media => "all" %>
  <%= javascript_include_tag "mobile/application" %>
  <script type="text/javascript">
      $.mobile.pushStateEnabled = false;
  </script>
  <%= csrf_meta_tags %>
  <link rel="apple-touch-icon" href="images/launch_icon_57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="images/launch_icon_72.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="images/launch_icon_114.png" />
</head>
<body>

<div data-role="page" data-theme="e">
  <div data-role="header" data-position="fixed">
    <div data-role="navbar" class="nav-glyphish" data-grid="c">
      <ul>
        <li style="width:40%"><%= link_to image_tag('/assets/mfm_logo.png', width: '100%'), home_index_path, id: 'brand', rel: "external" %></li>
        <li style="width:20%"><%= link_to 'Support', 'javascript:;', data: {icon: 'custom'}, id: 'support_icon' %></li>
        <li style="width:20%">
          <% if user_signed_in? %>
              <%= link_to current_user.firstname[0] + ". " + current_user.lastname, 'javascript:;', data: {icon: 'custom'}, id: 'user_icon', method: 'delete' %>
          <% else %>
              <%= link_to 'User', new_user_session_path, data: {icon: 'custom'}, id: 'user_icon', rel: "external" %>
          <% end %>
        </li>
        <li style="width:20%">
          <% if @cart %>
              <%= link_to 'Cart', 'javascript:;', data: {icon: 'custom'}, id: 'cart_icon' %>
          <% end %>
        </li>
      </ul>
    </div>

    <div>
      <div class="ui-body ui-body-a" id="support_wrap" style="padding: 10px;display: none;">
        <%= simple_form_for(@ticket, validate: true, html: { data: { ajax: false }}, remote: true) do |f| %>
            <%= f.error_notification %>
            <%= f.input :email, placeholder: 'Email', label: false %>
            <%= f.input :content, placeholder: 'Describe problem or leave advice', label: false %>
            <%= f.button :submit, 'Submit' %>
        <% end if @ticket %>
      </div>
      <div class="ui-body ui-body-a" id="user_wrap" style="padding: 10px;display: none;">
        <% if user_signed_in? %>
            <div class="ui-grid-b">
              <div class="ui-block-a">
                <%= link_to 'My profile', edit_user_registration_path, data: { role: 'button' }, rel: 'external' %>
              </div>
              <div class="ui-block-b">
                <%= link_to 'My orders', home_my_orders_path, data: { role: 'button' }, rel: 'external' %>
              </div>
              <div class="ui-block-c">
                <%= link_to 'Sign out', destroy_user_session_path, method: 'delete', data: { role: 'button' }, rel: 'external' %>
              </div>
            </div>
        <% end %>
      </div>
      <div id="cart_wrap" style="display: none;">
        <%= render @cart if @cart %>
      </div>
    </div>
  </div><!-- /header -->

  <% flash.each do |type, message| %>
      <div class="alert <%= twitterized_type(type) %>">
        <a class="close" data-dismiss="alert">x</a>
        <strong><%= message %></strong>
      </div>
  <% end %>

  <%= yield %>

  <div data-role="footer">
    <div  data-role="navbar">
      <ul>
        <li><%= link_to 'Home', home_index_path, :data => { :icon => 'home' }, :rel => "external" %></li>
        <li><%= link_to 'Restaurant', home_stores_path, :data => { :icon => 'grid' }, :rel => "external" %></li>
        <li><%= link_to 'Grocery', home_grocery_path, :data => { :icon => 'grid' }, :rel => "external" %></li>
        <li><%= link_to 'Desktop', { :mobile => 0 }, :data => { :icon => 'info' }, :rel => "external" %></li>
      </ul>
    </div>
    <div style="text-align: center;">@Meals4.Me</div>
  </div><!-- /footer -->
</div>

<% if Rails.env.production? %>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-38643723-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
<% end %>

</body>
</html>