<div class="row-fluid">
  <div class="span6 well">
    <h3>Edit <%= resource_name.to_s.humanize %></h3>

    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name),
                        :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
        <%= f.error_notification %>

        <% unless resource.avatar.present? %>
            <div style="text-align: center;"><%= image_tag '/assets/blue_head_100x100.png' %></div>
        <% end %>
        <%= f.input :avatar, as: :image_preview, input_html: {preview_version: :small}, hint: "Use square image (width = height)." %>
        <!--Maybe due to carrierwave, this doesn't work-->
        <!--input_html: {size: 5}-->
        <!--So implement it in js-->
        <%= f.input :email %>
        <%= f.input :firstname %>
        <%= f.input :lastname %>
        <%= f.input :phone %>
        <% current_user.build_address if current_user.address.nil? %>
        <%= f.fields_for :address do |addr| %>
            <%= addr.input :address1 %>
            <%= addr.input :address2 %>
            <%= addr.input :city %>
        <% end %>
        <h4 style="margin-left: 50px;">Leave blank if you don't want to change it</h4>
        <%= f.input :password, :input_html => { :autocomplete => "off" } %>
        <%= f.input :password_confirmation %>

        <%= f.input :current_password, :hint => "Use current password to confirm your changes" %>
        <%= link_to "Back to Stores", home_index_path, :class => "btn" %>
        <%= f.button :submit, :class => "btn btn-primary", :disable_with => "Please wait..."  %>
    <% end %>
  </div>

  <div class="span6">
    <div class="well">
      <h3>
        My Cash Back:
        <span id="cash_back" style="color: green;"><%= number_to_currency resource.cash_back %></span>
        <div class="pull-right">
          <%= link_to "Details", "javascript:;", id: "cash_back_details_toggler", class: "btn btn-primary" %>
          <%= link_to "Redeem", "javascript:;", id: "cash_back_redeem_toggler", class: "btn btn-info" %>
        </div>
      </h3>
      <div id="cash_back_redeem" style="display: none;">
        <hr/>
        <h4>Choose the amount to redeem:</h4>
        <%= form_tag(admin_create_redeem_path, :method => "post", :remote => true) do %>
            <% if resource.cash_back > 5 %>
                <%= radio_button_tag "amount", 5 %>
            <% else %>
                <%= radio_button_tag "amount", 5, false, disabled: true %>
            <% end %>
            $5.00&nbsp;&nbsp;&nbsp;

            <% if resource.cash_back > 10 %>
                <%= radio_button_tag "amount", 10 %>
            <% else %>
                <%= radio_button_tag "amount", 10, false, disabled: true %>
            <% end %>
            $10.00&nbsp;&nbsp;&nbsp;

            <% if resource.cash_back > 15 %>
                <%= radio_button_tag "amount", 15 %>
            <% else %>
                <%= radio_button_tag "amount", 15, false, disabled: true %>
            <% end %>
            $15.00&nbsp;&nbsp;&nbsp;

            <% if resource.cash_back > 20 %>
                <%= radio_button_tag "amount", 20 %>
            <% else %>
                <%= radio_button_tag "amount", 20, false, disabled: true %>
            <% end %>
            $20.00

            <%= hidden_field_tag "user_id", resource.id %>
            <%= submit_tag "Redeem", class: "btn btn-primary pull-right", :disable_with => "Processing...", data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>

      <div id="cash_back_details" style="display: none;">
        <% if @transactions.size > 0 %>
            <table class="table table-striped table-bordered" id="transactions">
              <%= render @transactions %>
            </table>
            <div id="paginator">
              <%= paginate @transactions, remote: true %>
            </div>
        <% else %>
            <h4>&nbsp;&nbsp;&nbsp;You haven't got any balance yet.</h4>
        <% end %>
      </div>
    </div>

    <div class="well">
      <h3>My Order List</h3>
      <table class="table table-striped table-bordered" >
        <% resource.orders.each do |order| %>
            <tr>
              <th>Invoice: <%= order.id %></th>
              <th><%= order.cart.delivery_type %>@<%= order.store.name %></th>
              <th><%= order.created_at.strftime("%Y-%m-%d %H:%M %P")  %></th>
            </tr>
            <tr style="background-color: yellow;">
              <td></td>
              <td>
                <b>Items: </b><%= order.cart.cart_items.size %>,
                <b>Total: </b><%= number_to_currency order.cart.total_price %>
              </td>
              <td>
                <%= link_to "Details", admin_order_modal_path(order), remote: true, class: "btn btn-primary" %>
                <%= link_to "ReOrder", new_order_path(cart_id: order.cart.id), method: :get, class: "btn btn-info" %>
              </td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>