<div class="row-fluid">
  <div class="span6 well">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name),
                        :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
        <%= f.error_notification %>

        <% unless resource.avatar.present? %>
            <div style="text-align: center;"><%= image_tag '/assets/blue_head_100x100.png' %></div>
        <% end %>
        <%= f.input :avatar, as: :image_preview, input_html: {preview_version: :small}, hint: "Use square image (width = height)." %>
        <!--Maybe due to carrierwave, this doesn't work-->
        <!--input_html: {size: 5}-->
        <!--So implement it in js-->
        <%= f.input :email %>
        <%= f.input :firstname %>
        <%= f.input :lastname %>
        <%= f.input :phone %>
        <% current_user.build_address if current_user.address.nil? %>
        <%= f.fields_for :address do |addr| %>
            <%= addr.input :address1 %>
            <%= addr.input :address2 %>
            <%= addr.input :city %>
        <% end %>
        <h4 style="margin-left: 50px;">Leave blank if you don't want to change it</h4>
        <%= f.input :password, :input_html => { :autocomplete => "off" } %>
        <%= f.input :password_confirmation %>

        <%= f.input :current_password, :hint => "Use current password to confirm your changes" %>
        <%= f.button :submit, :class => "btn btn-primary", :disable_with => "Please wait..."  %>
        <%= link_to "Back to Stores", home_index_path, :class => "btn" %>
    <% end %>
  </div>

  <div class="span6">
    <div class="well">
      <h2>My Cash Back: <span style="color: green;"><%= number_to_currency resource.cash_back %></span></h2>
    </div>

    <div class="well">
      <h2>My Orders</h2>
      <table class="table table-striped" >
        <% resource.orders.each do |order| %>
            <tr>
              <th>Invoice: <%= order.id %></th>
              <th><%= order.cart.delivery_type %>@<%= order.store.name %></th>
              <th><%= order.created_at.strftime("%I:%M%P %m/%d/%Y")  %></th>
            </tr>
            <tr style="background-color: yellow;">
              <td></td>
              <td>
                <b>Items: </b><%= order.cart.cart_items.size %>,
                <b>Total: </b><%= number_to_currency order.cart.total_price %>
              </td>
              <td>
                <%= link_to "Details", admin_order_modal_path(order), remote: true, class: "btn btn-primary" %>
                <%= link_to "ReOrder", new_order_path(cart_id: order.cart.id), method: :get, class: "btn btn-info" %>
              </td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>