<div data-role="content" data-inset="false">
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name),
                      :validate => true, html: { data: { ajax: false }, class: 'hide_input_label' }) do |f| %>
      <%= f.error_notification %>

      <div class="ui-grid-a">
        <div class="ui-block-a"><%= f.input :firstname, :placeholder => 'Firstname' %></div>
        <div class="ui-block-b"><%= f.input :lastname, :placeholder => 'Lastname' %></div>
      </div>
      <%= f.input :email, :placeholder => 'Email' %>
      <div class="ui-grid-a">
        <div class="ui-block-a"><%= f.input :password, :placeholder => 'Password' %></div>
        <div class="ui-block-b"><%= f.input :password_confirmation, :placeholder => 'Confirmation' %></div>
      </div>

      <%= f.button :submit, "Sign up" %>
  <% end %>

  <br/><hr/><br/>
  <%= render "users/shared/links" %>
</div><!-- /content -->
